<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<connectionStrings>
		<!--Config DB Connection for Production 260566-->
		<add name="myConnectionString" connectionString="Server=10.200.15.207;User Id=root; Password=iy{l4k@P; Database=c4m; Pooling=false; Convert Zero Datetime=True;" />
		<!--Config DB Connection for Test 260566-->
		<!--<add name="myConnectionString" connectionString="Server=10.200.15.207;User Id=root; Password=iy{l4k@P; Database=c4m; Pooling=false; Convert Zero Datetime=True;" />-->
		
		<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
	</connectionStrings>

	<system.web>
		<!--Add customErrors 260566-->
		<customErrors mode="Off"/>
		<!--.......................-->
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="th-TH" uiCulture="th-TH" />
		<httpRuntime executionTimeout="90" maxRequestLength="102400" />

	<pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>

		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
		</security>

	</system.webServer>
	
	<appSettings>
		<add key="FolderPath" value="uploadfiles" />
	</appSettings>

	
  <runtime>

	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

	
          <dependentAssembly>

	
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

	
              <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

	
          </dependentAssembly>

	
          <dependentAssembly>

	
              <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

	
              <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />

	
          </dependentAssembly>

	
      </assemblyBinding>

	
  </runtime>
</configuration>
